<img class="bg-img" src="assets/images/bg-login.png" height="auto" width="100%">

<div class="login-cont  mx-auto d-flex aligns-items-center">
<div class=" container glowy-border  p-4 my-auto">
<div class="row person-icon mx-auto mb-4"><img src="assets/images/person.png"></div>
<div class="row mx-auto my-3">
    <h2>تسجيل الدخول</h2>
    <h2>Sign In</h2>
</div>
<div class="row  mx-auto my-2">
    <div class="input-group  rounded-pill  p-3  ms-auto me-auto mb-4 w-20">
        <input class="form-control  ms-auto me-0" dir="rtl" type="text" placeholder="الإيمـيل" id="example-search-input">
    </div>

    <div class="input-group  rounded-pill  p-3 ms-auto me-auto mb-4 w-60">
        <input class="form-control  ms-auto me-0" dir="rtl" type="text" placeholder="كلمة المرور" id="example-search-input">
    </div>

</div>
<div class="row d-flex justify-content-between mx-1 my-2">
  
    <div class="col"><p class="float-start " dir="rtl"> نسيت كلمة المرور؟</p></div>

    <div class="col">
        <!-- Checked switch -->
<div class="form-check form-switch float-end">
    <label class="form-check-label custom-control-label"  dir="rtl" for="flexSwitchCheckChecked">تذكرني</label>
    <input class="form-check-input custom-control-input " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
 
  </div>
  
    </div>
</div>
<div class="row justify-content-center"><p style="color: rgb(173, 54, 54); text-align: center;">ملاحظة: يمكن النفاذ مباشرة من زر الدخـول بلا حاجة لإدخال أي بيانات</p></div>

<div class="row"><button routerLink="/main" type="button" class="btn btn-primary btn-lg  rounded-pill mx-auto login-btn ">
    الدخـول
</button></div>
<div class="row  my-4 text-center">
    <p dir="rtl" (click)="{}">لا تملك حسابًا؟ إنشاء جديد</p>
</div>



</div>
</div>