<img class="bg-img" src="assets/images/bg-mask.png" height="auto" width="100%">

<div  class="h-100 d-flex landing align-items-center">
    <div class="row mx-auto ">
<div class="col">
    <div class="row mx-auto text-center align-items-center my-5"><img src="assets/images/baseer-logo.svg" ></div>
    <div class=" mx-auto text-center ">
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg rounded-pill login-btn ">الدخـول</button>
    </div>
</div>

    </div>
    <div  class="row justify-content-around mx-auto my-3  w-100 sponsers">
        <div class="col-4 d-flex justify-content-center "><img src="assets/images/hackathon.png"></div>
        <div  class class="col-4 d-flex justify-content-center"><img src="assets/images/sdaia.png"></div>
<div   class="col-4 d-flex justify-content-center"><img src="assets/images/gov_logo.png"></div>


    </div>
</div>







